<?xml version="1.0"?>

<robot name="bumperbot" xmlns:xacro="http://ros.org/wiki/xacro">

    <link name="base_footprint"/>

     <link name="base_link">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <box size="0.345 0.2 0.14"/>
        </geometry>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.345 0.2 0.14"/>
            </geometry>
        </collision>
     </link>

     <joint name="base_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </joint>




</robot>